<h1><%= @machine.location %> Vending Machine</h1>
<h2>Avg Price of Snacks: $<%= @machine.average_price_of_snacks %></h2>
<% @machine.snacks.each do |snack| %>
<%= snack.name %>
<%= snack.price %>
<% end %>
