<h1><%= @snack.name %></h1>
<h2><%= @snack.price %></h2>
<div id="locations">
  <% @snack.machines.each do |machine| %>
  <%= machine.location %>
  Avg Price of Snacks: $<%= machine.average_price_of_snacks %>
  <% end %>
</div>
